.container {
    height: 100vh;
    width: 100vw;
    background-color: rgb(30, 30, 30);
    padding-top: 75px;
}

.weather {
    display: flex;
    justify-content: center;
}

h1,
h2 {
    font-size: 48px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 500;
}

p {
    font-size: 12px;
    color: rgb(100, 100, 100);
    font-weight: 500;
}

@media (prefers-color-scheme: light) {
    .container {
      background-color: rgb(250, 250, 250);
      color: black;
    }

    h1,
    h2,
    h3 {
        color: black;
    }
  }